<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Foodgram</title>
    <link rel="stylesheet" href="/css/style.css" />
  </head>
  <body class="app-container">
    <nav class="navbar">
      <ul class="nav-list">
        <li class="nav-item"><a href="/" class="nav-link">Home</a></li>
        <li class="nav-item"><a href="/posts" class="nav-link">Posts</a></li>
        <li class="nav-item">
          <a href="/posts/new" class="nav-link">New Post</a>
        </li>
      </ul>
    </nav>
    <main class="main-content">
      <h1 class="app-title">Foodgram</h1>
      <p class="app-welcome">Welcome to the Foodgram!</p>
      <p class="app-description">
        Here you can find the best recipes from around the world!
      </p>
    </main>
  </body>
</html>
